<h3>Email spammer</h3>

<div>
    <h5>Prepared by
    <a href="https://yehorbolt.github.io" class="text-decoration-none text-reset"> Bolotov Yehor</a>
    </h5>
    <p class="p_site">
        An interesting idea is to create your own personal email sender using a database
        and an external shell. What is it for? For example, are you an employee of a department
        who needs to send reports to certain emails every month, but is too lazy to enter dozens of
        emails each time? Then this program will help you not to suffer!
    </p>
</div>

<a href="/users" class="btn btn-view mx-2 h5">
    View All
</a>



